![Hare](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

In [6]:
import pandas as pd 
hares = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')

In [8]:
hares.shape

(3380, 14)

In [9]:
hares.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [11]:
hares.isna()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,False,True,False,False,False,True,True,True,False,False,True,False,False,False
1,False,True,False,False,False,True,False,True,False,True,True,False,False,False
2,False,True,False,False,False,True,False,True,False,True,True,False,False,False
3,False,True,False,False,False,True,True,True,False,False,True,False,False,False
4,False,True,False,False,False,True,True,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,False,False,False,False,False,False,True,True,False,True,True,False,False,False
3376,False,False,False,False,False,False,True,True,True,True,True,False,False,False
3377,False,True,False,False,False,False,True,True,False,False,True,False,False,False
3378,False,True,False,False,False,False,True,True,False,True,True,False,False,False
3379,False,True,False,False,False,False,False,True,False,False,True,False,False,False

In [13]:
hares.isna().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [15]:
hares['weight'].max()

2365.0

In [21]:
hares['weight'].min()

0.0

In [16]:
hares['hindft'].max()

160.0

In [22]:
hares['hindft'].min()

60.0

In [17]:
hares.nunique()

date           256
time           165
grid             5
trap           121
l_ear         1020
r_ear          963
sex             12
age             30
weight         266
hindft          90
notes          118
b_key         1026
session_id     113
study            4
dtype: int64

In [20]:
hares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3380 entries, 0 to 3379
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3380 non-null   object
 1   time        264 non-null    object
 2   grid        3380 non-null   object
 3   trap        3368 non-null   object
 4   l_ear       3332 non-null   object
 5   r_ear       3211 non-null   object
 6   sex         3028 non-null   object
 7   age         1269 non-null   object
 8   weight      2845 non-null   float64
 9   hindft      1633 non-null   float64
 10  notes       243 non-null    object
 11  b_key       3333 non-null   float64
 12  session_id  3380 non-null   int64
 13  study       3217 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 369.8+ KB

In [23]:
hares['sex'].unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

|values|definition|
|------|----------|
|  M & m | Male     |
|  F & f | Female   |
|  ?   | not confirmed |

In [24]:
hares['sex'].value_counts()

sex
F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: count, dtype: int64

In [27]:
hares['sex'].dropna().value_counts()

sex
F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: count, dtype: int64

In [28]:
hares['sex'].value_counts(dropna=False)

sex
F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: count, dtype: int64

In [29]:
import numpy as np

In [33]:
female_condition = hares['sex'].isin(['F', 'f', 'F?', 'f?', 'f '])
male_condition = hares['sex'].isin(['M', 'm', 'M?', 'm?', 'm '])

hares['sex'] = np.select(
    [female_condition, male_condition],
    ['female', 'male'],
    default='unknown')

In [34]:
hares['sex'].unique()

array(['unknown', 'male', 'female'], dtype=object)

In [35]:
hares.groupby('sex').weight.mean()

sex
female     1363.246053
male       1350.194643
unknown    1196.341463
Name: weight, dtype: float64